<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav"
      [attr.role]="'dialog'"
      mode="over">
    <mat-toolbar color="primary">Planboard</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#"><mat-icon matListIcon>add</mat-icon>Nieuw board</a>
      <a mat-list-item href="#"><mat-icon matListIcon>groups</mat-icon>Samenwerken</a>
      <a mat-list-item href="#"><mat-icon matListIcon>share</mat-icon> Planboard delen</a>
      <a mat-list-item href="#"><mat-icon matListIcon>settings</mat-icon> Instellingen</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>

    <button
      type="button"
      class="sidenav-trigger"
      aria-label="Toggle sidenav"
      mat-icon-button
      (click)="drawer.toggle()">
      <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>
    <ng-content></ng-content>
  </mat-sidenav-content>

</mat-sidenav-container>
