:host {
  position: fixed;
  bottom: 2%;
  right: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
}

button[mat-raised-button] {
  margin: .5rem 0;
}
div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
