@import "src/abstracts";
:host {
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
  width: 25%;
  min-width: 20rem;
}
button {
  margin-right: .25rem;
}
h1 {
  margin: 0;
}

input{
  @include text-input((400 24px/32px Roboto, "Helvetica Neue", sans-serif));
}
